<div class="section">
  <h2 class="ft">Contact US</h1>
<a href="#"><i class="fa fa-facebook fa-2x"></i></a>
<a href="#"><i class="fa fa-twitter fa-2x"></i></a>
<a href="#"><i class="fa fa-youtube fa-2x"></i></a>
<a href="#"><i class="fa fa-instagram fa-2x"></i></a>
</div>
<footer>
  <div class="footer">
    <p><i class="fa fa-copyright"></i>All rights are Reserved by VK</p>
  </div>
</footer>
