<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="style3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <%-include("partials/header")-%>
      <div class="content">
        <div class="text">
          <h1>Events</h1>
          <p>Techfest, IIT Bombay is the annual science and technology festival of the Indian Institute of Technology Bombay. Techfest originated in 1998 to provide a platform for the Indian student community to develop and showcase their technical prowess. It has grown into Asia's Largest Science and Technology Festival, attracting people from all walks of life, including students, academia, professionals, and the general public. So call your friends, mark your calendars, and gear up for Techfest 2021-22: Multiversal Escapade! </p>
        </div>
      </div>
    <div class="bottom">
      <div class="row">
        <div class="col-sm-3">
          <div class="card">
            <img src="images/quiz2.jpg" alt="">
            <div class="card-body">
              <p>Quiz</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <img src="images/coding2.jpeg" alt="">
            <div class="card-body">
              <p>Coding</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <img src="images/dance2.jpg" alt="">
            <div class="card-body">
              <p>Dance</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <img src="images/singing1.jpg" alt="">
            <div class="card-body">
              <p>Singing</p>
            </div>
          </div>
        </div>
      </div>
<%-include("partials/end")-%>
    </div>
<%-include("partials/footer")-%>
