<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Fest</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<%-include("partials/header")-%>
  <div class="content">
    <video autoplay loop muted plays-inline class="video">
      <source src="Video/vid.mp4" type="video/mp4">
    </video>
    <div class="data">
      <h1>Hello</h1>
      <a href="#" class="btn btn-outline-success btn-lg" >Register</a>
    </div>
  </div>
  <div class="foot containter-fluid">
    <div class="team">
      <h1>Word From Team</h1>
    </div>
    <div class="textPara">
      <p>Welcome to the Official Website of the 25th Edition of Asia's Largest Science and Technology Festival, Techfest 2021-2022! We at Techfest are students of IIT Bombay, who have been engaged over the past few months to structure Techfest's Silver Jubilee edition. With the plethora of events planned this year, we are sure you will have an experience of a lifetime—something that you will never forget; a journey that will lift your spirits. And the starting point is this website! Here, you will find complete information about Techfest 2021-22, so make sure you explore all the pathways available to you. Either way, isn't a multiversal escapade catching your eye? </p>
    </div>
    <div class="team">
      <h1>Internatinal Summit</h1>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="card">
          <img src="images/Princi2.png" alt="">
          <div class="card-body">
            <p>Sameen Fatima</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <img src="images/vp1.jpg" alt="">
          <div class="card-body">
            <p>Ravinder Yadav</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <img src="images/hod.jpg" alt="">
          <div class="card-body">
            <p>Sameen Fatima</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <img src="images/civil1.jpg" alt="">
          <div class="card-body">
            <p>Sameen Fatima</p>
          </div>
        </div>
      </div>
    </div>
    <div class="team">
      <h1>Competitions</h1>
  </div>
  <div class="row bottomrow">
    <div class="col-sm-3">
      <div class="card">
        <img src="images/quiz2.jpg" alt="">
        <div class="card-body">
          <p>Quiz</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <img src="images/coding2.jpeg" alt="">
        <div class="card-body">
          <p>Coding</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <img src="images/dance2.jpg" alt="">
        <div class="card-body">
          <p>Dance</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <img src="images/singing1.jpg" alt="">
        <div class="card-body">
          <p>Singing</p>
        </div>
      </div>
    </div>
  </div>
<%-include("partials/end")-%>
  </div>
<%-include("partials/footer")-%>
